# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class

# Distribuição / build
build/
dist/
*.egg-info/

# =========================
# VENV / AMBIENTE
# =========================
venv/
env/
ENV/
.venv/

# =========================
# STREAMLIT
# =========================
.streamlit/secrets.toml

# =========================
# ARQUIVOS EXCEL (dados)
# =========================
usuarios.xlsx
consultas.xlsx
*.xls
*.xlsx

# =========================
# LOGS
# =========================
*.log

# =========================
# SISTEMA OPERACIONAL
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE / EDITORES
# =========================
.vscode/
.idea/

# =========================
# ENV VARS
# =========================
.env
.env.local

# =========================
# CACHE
# =========================
.cache/