DATABASE_URL="ppostgresql://neondb_owner:npg_VPEO0tbW8IQL@ep-spring-dream-ayn0c69w-pooler.c-5.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET="segredo-forte"
JWT_EXPIRES_IN="7d"
PORT=3001
FRONTEND_URL="http://localhost:5173"
